.blog-header {
    background-image: url("../assets/blog-image.jpg");
	background-size: cover ;
	height: 80vh;
	display: block;
	background-repeat: no-repeat;
    background-position: bottom;
}

.header-logo {
    font-family: 'Kumar One', cursive;
    font-size: 2.2rem;
    line-height: 24px;
    letter-spacing: 1.2px;
    margin: 0;
    text-transform: uppercase;
    width: 100px;
    margin-left: 150px;
    padding-top: 20px;
    position: absolute;
}

.blog-header {
    position: relative;
}

.blog-header h1 {
    position: absolute;
    top: 175px;
    left: 150px;
}

//BLOG SECTION

.blog-content {
    height: 1150px;
}


.blog-content h2, h3 {
    font-family: 'Kumar One', cursive;
	font-size: 2.3rem;
	line-height: 40px;
	letter-spacing: 2.1px;
	text-transform: uppercase;
	padding-top: 100px;
	margin: 0;
}

.blog-content h2 {
    width: 500px;
    padding-top: 40px;
}

.blog-content h3 {
    font-size: 2rem;
}

.blog-content p {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.6rem;
	line-height: 25px; 
	margin-top: 0;
}

.content-date {
    font-style: italic;
}

.content-date span {
    font-weight: 900;
}


.blog-content {
    background-color: #E0FDDF;
    width: 100%;
}

.blog-content-container {
    display: flex;
    justify-content: space-between;
}

.left-content {
    width: 60%;
    background-color: white;
    box-shadow: 20px 20px 0 #F8FB05;
    position: relative;
    top: -140px;
    
    

}
.left-image-container {
    position: relative;
}
.left-content img {
    width: 100%;
	height: 100%;
	object-fit: contain;
    background-color: #F8FB05;
    box-shadow: 0px 20px 0 #F8FB05;
    padding: 0;

}

.left-content-text {
    padding-left: 120px;
    padding-right: 50px;
}



.right-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: right;
    width: 30%;
    margin-top: 85px;
    height: auto;

}
.right-image-container {
    margin: 0;
}
.right-content img {
    width: 70%;
	height: 70%;
	object-fit: contain;
    display: block;
    margin-left: auto;
    background-color: #F8FB05;
    box-shadow: -20px 20px 0 #F8FB05;
}

.right-content-text {
    background-color: #F8FB05;
    width: 70%;
    margin-left: auto;
    box-shadow: -20px 0 0 #F8FB05;
    padding-bottom: 15px;
}

.right-content-text ul {
    padding-left: 25px;
}
.right-content-text li {
    font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.6rem;
	line-height: 20px; 
	margin-top: 0;
}


.right-content h3 {
    padding-top: 15px;
}

.right-content h3:nth-last-of-type(1) {
    padding-top: 0;
}

// COMMENT SECTION

.comment-section {
    background-color: #E0FDDF;
    padding-left: 120px;
}

.comment-section h3 {
    padding-top: 0;
}

.comment-section-container {
    display: flex;
    flex-direction: column;
}

.comment-flex {
    display: flex;
    width: 500px;
}

.comment-flex p:nth-of-type(odd) {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    text-transform: uppercase;
}

.comment-flex p:nth-of-type(even) {
    margin-top: 5px;
}


.comment-text {
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.6rem;
    line-height: 25px; 
}

.comment-flex img {
    margin-top: 8px;
}

.comment-flex p:nth-of-type(2) {
    margin-bottom: 60px;
}

.user-information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    width: 200px;
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid #065635;
    padding-left: 25px;
    padding-bottom: 15px;
    color: black;
}

textarea {
    background-color: transparent;
    border-style: none;
    border: 1px solid #065635;
    resize: none;
    padding-left: 25px;
    padding-top: 30px;
    color: #151514;
}

input::placeholder, textarea::placeholder {
    color: black;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

button {
    background-color: #065635;
	font-family: 'Kumar One', cursive;
	color: white;
    text-decoration: none;
    border-style: none;
    padding: 6px;
    text-transform: uppercase;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.6rem;
    line-height: 25px; 
    text-transform: uppercase;
    padding-bottom: 60px;
}

.blog-footer p{
    margin: 0;
}